<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">MACHINE-TEST
    </a>
    <button class="navbar-toggler collapsed " type="button" data-toggle="collapse" data-target="#Navbar"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse collapse" id="Navbar">
      <ul class=" navbar-nav text-center ml-auto ">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/register" routerLinkActive="active">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/user" routerLinkActive="active">User-Details</a>
        </li>

      </ul>
    </div>
  </div>
</nav>

<div class="container mt-3" id=container>
  <div class="register-box">
    <div class="card">
      <div class="card-body register-card-body">
        <p class="login-box-msg text-center">Register a new membership</p>

        <form [formGroup]="registerForm" (ngSubmit)="register()">

          <div class="input-group">
            <input formControlName="name" name="name" type="text" class="fas fa-user" class="form-control" placeholder="User Name" />
          
          </div>
          <div *ngIf="f.name.touched && f.name.invalid">
            <small class="text-danger" *ngIf="f.name.errors?.required">
              Name is required!
            </small>
            <small  class="text-danger" *ngIf="f.name.errors?.minlength || f.name.errors?.maxlength ">
              Name must be greater than 2 characters and less than 20. 
            </small>
          </div>  

          <div class="input-group mt-3">
            <input formControlName="password" type="password" class="form-control" placeholder="Password" />          
          </div>
          <div *ngIf="f.password.touched && f.password.invalid">
            <small class="text-danger" *ngIf="f.password.errors?.required">
              Password is required!
            </small>
            <small  class="text-danger" *ngIf="f.password.errors?.minlength">
              password must be at least 4 characters long. 
            </small>
          </div>


          <div class="input-group mt-3">
            <input formControlName="email" type="text" class="form-control" placeholder="Email" />          
          </div>
          <div *ngIf="f.email.touched && f.email.invalid">
            <small class="text-danger " *ngIf="f.email.errors?.required">
              Email is required
            </small>
            <small class="text-danger " *ngIf="f.email.errors?.pattern">
              pattern not match
            </small>
          </div>

          <div class="input-group mt-3">
            <input formControlName="address" type="text" class="form-control" placeholder="Address" />
          </div>
          <div *ngIf="f.address.touched && f.address.invalid">
            <small class="text-danger" *ngIf="f.address.errors?.required">
              Address is required!
            </small>
          
          </div>

          <div class="row mt-3">
            <div class="col-6">
              <div class="icheck-primary">
                <input type="checkbox" id="agreeTerms" name="terms" value="agree" />
                <label for="agreeTerms">
                  I agree to the <a routerLink="/**">terms</a>
                </label>
              </div>
            </div>
            <!-- /.col -->
            <div class="col-6">
              <button type="submit" class="btn btn-primary btn-block" [disabled]=" f.name.invalid || f.password.invalid || f.email.invalid || f.address.invalid">
                Register
              </button>
            </div>
            <!-- /.col -->  
          </div>
        </form>

        <div class="social-auth-links text-center">
          <p>- OR -</p>
          <a routerLink="/**" class="btn btn-block btn-primary">
            <i class="fab fa-facebook mr-2"></i>
            Sign up using Facebook
          </a>
          <a routerLink="/**" class="btn btn-block btn-danger">
            <i class="fab fa-google-plus mr-2"></i>
            Sign up using Google+
          </a>
        </div>

        <a [routerLink]="['/**']" class="text-center mt-2">I already have a membership</a>

        <!-- /.form-box -->
      </div>
      <!-- /.card -->
    </div>

  </div>